@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
:root{
    --header-height: 3.5 rem;
    --primary-color: #4a4a4a;
    --primary-color-alt: #575757;
    --linear-gradient: linear-gradient(54 deg, rgba(45,45,45,0.95) 34%, rgba(45,45,45,0.95));
    --title-color: #4a4a4a;
    --text-color: blueviolet;
    --text-color-alt: #999;
    --bg-color: #fff;
    --bg-color-alt: #e9ecef;
    /*font*/
    --PT-font: 'PT Serif', serif;
    --fs-h1: 2.75rem;
    --fs-h2: 2.25rem;
    --fs-lg: 1.125rem;
    --fs-base: 1rem;
    --fs-sm: 0.875rem;
    --fs-xs: 0.75rem;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body,
button,
input,
textarea{
    font-family: var(--PT-font);
    font-size: var(--fs-base);
}
body{
    background: url(./photos/background\ 1.avif);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: 1.5em;
}
h1,
h2,
h3{
    font-family: var(--PT-font);
    font-weight: var(--bold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
img{
    max-width: 100%;
    height: auto;
}
textarea,
input{
    background: none;
    border: none;
    outline: none;
}
.home{
    background-size: cover;
    background-position: 50%;
    padding-top: 5.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}
.grid{
    display: grid;
}
.section{
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}
.section__title{
    font-size: var(--fs-h2);
    line-height: 1.17em;
    font-weight: var(--medium);
    margin-bottom: 1.12em;
    color: #555;
}
.text-lg{
    font-size: var(--fs-lg);
    line-height: 1.67em;
}
.text-sm{
    font-size: var(--fs-sm);
    line-height: 1.43em;
}

.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.nav{
    height: calc(--header-height) + 0.875rem;
    display: flex;
    align-items: flex-end;
}
.nav__list{
    display: flex;
    column-gap: 3.25rem;
}
.nav__link{
    color: #555;
    font-size: 0.9rem;
    font-weight: var(--bold);
    font-family: var(--PT-font);
    text-transform: uppercase;
}
.nav__link:hover{
    opacity: 0.9;
    color: blueviolet;
}

.nav__close,
.nav__toggle{
    display: none;
}
.home__container{
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}
.home__data{
    z-index: 10;
}
.home__name,
.home__about,
.home__list,
.home__social-media{
    color: #555;
    font-family: var(--PT-font);
}
.home__name{
    font-size: var(--fs-h1);
    line-height: 1.14em;
    margin:0.9em 0 0.23em;
}
.home__about{
    margin-bottom: 2.5em;
}
.home__list dt{
    float: left;
    font-weight: var(--bold);
    opacity: 0.4;
}
.home__list dd{
    padding-left: 5.25em;
    color: purple;
}
.home__social-media{
    margin: 1.25rem 0 2.2rem;
}
.home__social-link{
    font-size: 1.7rem;
    line-height: 1.36em;
    margin-right: 0.25rem;
    opacity: 0.2;
}
.home__social-link:hover{
    opacity: 0.9;
    color: blueviolet;
}

.resume__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3.75rem;
}
.skills__titles,
.resume__title{
    font-size: 1.2rem;
    color: var(--text-color-alt);
    letter-spacing: 0.4em;
    margin-bottom: 2.8em;
}
.resume__item{
    border-left: 2px solid var(--primary-color);
    padding-left: 1.6rem;
    position: relative;
}
.resume__item:not(:last-child){
    padding-bottom: 3rem;
}
.resume__subtitle{
    color: var(--primary-color);
    margin-bottom: 0.36em;
}
.resume__date{
    color: var(--text-color-alt);
    margin-bottom: 0.7em;
}
.resume__description{
    text-align: justify;
}

.skills__container{
    grid-template-columns: repeat(1,445px);
}
.skills__list{
    row-gap: 1.8rem;
}
.skills__titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.625rem;
}
.skills__bar,
.skills__percentage{
    height: 5px;
    border-radius: 0.25rem;
}
.skills__bar{
    background-color: #FFA5B0;
}
.skills__percentage{
    display: block;
    background-color: var(--primary-color)
    ;
}
.contact{
    background: url(./photos/pawel-czerwinski-1k9lY4WWXJ0-unsplash.jpg);
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.contact::before{
    content: '';
    background: var(--linear-gradient);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.contact__content{
    z-index: 10;
    position: relative;
}
.contact__container{
    grid-template-columns: 4fr 5fr 3fr;
    column-gap: 1.875rem;
    padding-top: 1.25rem;
}
.contact .section__title,
.contact__list,
.contat__social-link,
::placeholder,
.contact__input,
.contact__form-title,
.footer__copy{
    color: #555;
    font-family: var(--PT-font);
}
.contact__list{
    margin-bottom: 3.25rem;
}
.contact__list dt{
    float: left;
    font-weight: var(--bold);
    text-transform: uppercase;
}
.contact__list dd{
    padding-left: 5.25em;
    margin-bottom: 0.94em;
}
.contact__socialmedia li{
    margin-bottom: 0.75rem;
    font-family: var(--PT-font);
}
 
.contact__form{
    position: relative;
}
.contact__form-title{
    margin-bottom: 1.25em;
}
.contact__input-div{
    margin-bottom: 0.94em;
}
.contact__input{
    width: 100%;
    border: 3px solid;
    border-color: black;
    border-radius: 3px;
    padding: 0.625rem;
}